<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="./js/PrayTimes.js"></script>
<script src="./js/time-calc.js"></script>
<script>
 
    // Your code goes here.
 
</script>
<b>Prayer Timings:</b> (h:m)

<div ng-app="timeCalc" ng-controller="CtrlTimeCalc as timeCalc">
    <p>
        Location: <input type="text" ng-model="timeCalc.location" placeholder="lahore, pakistan"/><br/>
        Time Zone: <input type="text" ng-model="timeCalc.timeZone" placeholder="+5"/><br/>
        Calculation Method: <input type="text" ng-model="timeCalc.method" placeholder="Karachi"/> (MWL, ISNA, Egypt, Makkah, Karachi, Tehran)<br/>
        Fiqh: <label><input type="radio" ng-model="timeCalc.fiqh" value="Hanafi">Hanafi</label><span style="padding-left:5em"><label><input type="radio" ng-model="timeCalc.fiqh" value="Standard">Shafi'i, Maliki, Hanbali</label></span><br/>
        <button ng-click="timeCalc.change()">Locate</button>
    </p>
    Latitude: [{timeCalc.lat}] <span style="padding-left:5em">Longitute: [{timeCalc.lng}]</span><br/><br/>
    Imsak: [{timeCalc.timeImsak}]<br/>
    Dawn: [{timeCalc.timeDawn}]<br/>
    Sunrise: [{timeCalc.timeSunrise}]<br/>
    Ishraq: [{timeCalc.timeIshraq}]<br/>
    <blockquote>     
     <p markdown="1">
     When sun rises above the horizon to a length of 1 or 2 spears (1 spear is about 3m) and it takes about 15-20 minutes. Time between `sunrise` and `ishraq` is `makruh` time and no prayer should be offered.
     </p>
    </blockquote>
    Dhuha: <br/>
    Zawal: [{timeCalc.timeZawal}]<br/>
    Zuhr: [{timeCalc.timeZuhr}]<br/>
    Asr: [{timeCalc.timeAsr}]<br/>
    Sunset: [{timeCalc.timeSunset}]<br/>
    Maghrib: [{timeCalc.timeMaghrib}]<br/>
    Isha: [{timeCalc.timeIsha}]<br/>

    <p><strong>Length of day:</strong> [{timeCalc.dayLength}]</p>
</div>

